/*popins*/@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/*asap*/@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
.annoucement-box {
    padding: 5px;
    border: 0.5px solid grey;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    margin-top: 5px;
}.annoucement-box h1 {
    font-family: "Poppins", sans-serif;
    color: rgb(102, 102, 102);
    display: flex;
    flex-direction: column;
    font-size: 15px;
}