.footer {
    width: 100%;
    height: 200px;
    background-color: white;
}
.footer-connector {
    height: 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-connector-bg {
    height: 20px;
    width: 100%;
    max-width: 735.9px;
    background-image: linear-gradient(to right,white,rgba(0, 0, 0, 0));
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-connector-2 {
    display: flex;
    flex-direction: column;
    height: 20px;
    width: 95%;
    max-width: 700px;
    background-color: white;
    border-top-right-radius: 20px;
}
@media only screen and (max-width: 650px) {
    .footer-connector-bg {
        background-image: linear-gradient(to right,rgba(255, 255, 255, 0.938),rgba(0, 0, 0, 0));
    }
    .footer-connector-2 {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.938),white);
        background-color: rgb(0, 0, 0);
    }
}
.footer-connector-1 {
    display: flex;
    flex-direction: column;
    height: 20px;
    width: 2.5%;
    border-bottom-right-radius: 20px;
    background-color: rgb(1, 0, 56);
}
.footer-connector-3 {
    display: flex;
    flex-direction: column;
    height: 20px;
    width: 2.5%;
    border-bottom-left-radius: 20px;
    background-color: rgba(0, 1, 65, 0);
}
.footer-contact {
    margin-top: 2vh;
    margin-bottom:  .5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 55px;
}
.contact-img {
    width: 40px;
    transition: .2s;
    border-radius: 50px;
}
.contact-img:hover {
    width: 41px;
    box-shadow: 00 2px 10px black;
    margin-bottom: 10px;
}

.footer-copyright {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.footer-copyright h3 {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(235, 235, 235);
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-copyright img {
    width: 80px;
}