@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #000124;
    overflow: hidden;
    z-index: -1;
}

.background span {
    width: 3vmin;
    height: 3vmin;
    border-radius: 3vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 41;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #ff0000;
    top: 17%;
    left: 9%;
    animation-duration: 67s;
    animation-delay: -11s;
    transform-origin: -18vw 16vh;
    box-shadow: -6vmin 0 1.1459005513068614vmin currentColor;
}
.background span:nth-child(1) {
    color: #00e1ff;
    top: 79%;
    left: 66%;
    animation-duration: 9s;
    animation-delay: -80s;
    transform-origin: 0vw -14vh;
    box-shadow: -6vmin 0 1.2781495817604536vmin currentColor;
}
.background span:nth-child(2) {
    color: #00e1ff;
    top: 41%;
    left: 59%;
    animation-duration: 70s;
    animation-delay: -48s;
    transform-origin: -20vw -24vh;
    box-shadow: 6vmin 0 1.0368724315110474vmin currentColor;
}
.background span:nth-child(3) {
    color: #00e1ff;
    top: 45%;
    left: 13%;
    animation-duration: 93s;
    animation-delay: -82s;
    transform-origin: -5vw 4vh;
    box-shadow: -6vmin 0 1.5887526439723283vmin currentColor;
}
.background span:nth-child(4) {
    color: #d4ff00;
    top: 16%;
    left: 37%;
    animation-duration: 84s;
    animation-delay: -35s;
    transform-origin: 16vw 13vh;
    box-shadow: 6vmin 0 1.736455135437479vmin currentColor;
}
.background span:nth-child(5) {
    color: #ff0000;
    top: 54%;
    left: 92%;
    animation-duration: 24s;
    animation-delay: -75s;
    transform-origin: -11vw 0vh;
    box-shadow: -6vmin 0 1.3713340320606493vmin currentColor;
}
.background span:nth-child(6) {
    color: #ff0000;
    top: 49%;
    left: 77%;
    animation-duration: 6s;
    animation-delay: -57s;
    transform-origin: -10vw 20vh;
    box-shadow: 6vmin 0 1.3536856413710112vmin currentColor;
}
.background span:nth-child(7) {
    color: #d4ff00;
    top: 2%;
    left: 63%;
    animation-duration: 47s;
    animation-delay: -25s;
    transform-origin: 7vw 9vh;
    box-shadow: 6vmin 0 1.391620001773645vmin currentColor;
}
.background span:nth-child(8) {
    color: #d4ff00;
    top: 66%;
    left: 5%;
    animation-duration: 51s;
    animation-delay: -44s;
    transform-origin: -18vw -3vh;
    box-shadow: -6vmin 0 0.942128927342972vmin currentColor;
}
.background span:nth-child(9) {
    color: #d4ff00;
    top: 15%;
    left: 29%;
    animation-duration: 49s;
    animation-delay: -51s;
    transform-origin: -7vw -15vh;
    box-shadow: -6vmin 0 0.9136481602611108vmin currentColor;
}
.background span:nth-child(10) {
    color: #d4ff00;
    top: 25%;
    left: 69%;
    animation-duration: 22s;
    animation-delay: -75s;
    transform-origin: -15vw -21vh;
    box-shadow: -6vmin 0 1.6838508631488713vmin currentColor;
}
.background span:nth-child(11) {
    color: #00e1ff;
    top: 25%;
    left: 75%;
    animation-duration: 93s;
    animation-delay: -21s;
    transform-origin: -4vw 5vh;
    box-shadow: -6vmin 0 1.1082430666952778vmin currentColor;
}
.background span:nth-child(12) {
    color: #ff0000;
    top: 37%;
    left: 94%;
    animation-duration: 40s;
    animation-delay: -44s;
    transform-origin: -12vw -9vh;
    box-shadow: 6vmin 0 1.5955294111376896vmin currentColor;
}
.background span:nth-child(13) {
    color: #ff0000;
    top: 55%;
    left: 44%;
    animation-duration: 84s;
    animation-delay: -13s;
    transform-origin: 11vw 14vh;
    box-shadow: 6vmin 0 1.4351063811150568vmin currentColor;
}
.background span:nth-child(14) {
    color: #00e1ff;
    top: 53%;
    left: 45%;
    animation-duration: 26s;
    animation-delay: -40s;
    transform-origin: 3vw -17vh;
    box-shadow: 6vmin 0 0.9507718816495783vmin currentColor;
}
.background span:nth-child(15) {
    color: #ff0000;
    top: 11%;
    left: 52%;
    animation-duration: 71s;
    animation-delay: -1s;
    transform-origin: 8vw -7vh;
    box-shadow: 6vmin 0 1.7171355517349511vmin currentColor;
}
.background span:nth-child(16) {
    color: #00e1ff;
    top: 62%;
    left: 74%;
    animation-duration: 74s;
    animation-delay: -33s;
    transform-origin: -17vw 10vh;
    box-shadow: 6vmin 0 1.647607257931544vmin currentColor;
}
.background span:nth-child(17) {
    color: #d4ff00;
    top: 73%;
    left: 95%;
    animation-duration: 84s;
    animation-delay: -13s;
    transform-origin: 21vw -9vh;
    box-shadow: 6vmin 0 0.8131521593679203vmin currentColor;
}
.background span:nth-child(18) {
    color: #00e1ff;
    top: 43%;
    left: 66%;
    animation-duration: 18s;
    animation-delay: -57s;
    transform-origin: -18vw -8vh;
    box-shadow: 6vmin 0 0.7794033819610826vmin currentColor;
}
.background span:nth-child(19) {
    color: #00e1ff;
    top: 25%;
    left: 15%;
    animation-duration: 19s;
    animation-delay: -54s;
    transform-origin: 10vw 14vh;
    box-shadow: -6vmin 0 1.353700271877688vmin currentColor;
}
.background span:nth-child(20) {
    color: #ff0000;
    top: 17%;
    left: 50%;
    animation-duration: 67s;
    animation-delay: -79s;
    transform-origin: 14vw 8vh;
    box-shadow: 6vmin 0 1.6854615820539036vmin currentColor;
}
.background span:nth-child(21) {
    color: #d4ff00;
    top: 74%;
    left: 28%;
    animation-duration: 78s;
    animation-delay: -29s;
    transform-origin: 1vw 20vh;
    box-shadow: 6vmin 0 1.4508963601358171vmin currentColor;
}
.background span:nth-child(22) {
    color: #ff0000;
    top: 64%;
    left: 5%;
    animation-duration: 36s;
    animation-delay: -14s;
    transform-origin: -2vw 7vh;
    box-shadow: -6vmin 0 1.5758198787211528vmin currentColor;
}
.background span:nth-child(23) {
    color: #00e1ff;
    top: 12%;
    left: 44%;
    animation-duration: 15s;
    animation-delay: -35s;
    transform-origin: 1vw -6vh;
    box-shadow: -6vmin 0 1.4999611827392407vmin currentColor;
}
.background span:nth-child(24) {
    color: #d4ff00;
    top: 2%;
    left: 99%;
    animation-duration: 19s;
    animation-delay: -54s;
    transform-origin: 20vw -9vh;
    box-shadow: 6vmin 0 1.3651582201948247vmin currentColor;
}
.background span:nth-child(25) {
    color: #00e1ff;
    top: 58%;
    left: 69%;
    animation-duration: 24s;
    animation-delay: -7s;
    transform-origin: 16vw -1vh;
    box-shadow: 6vmin 0 1.7378287738792946vmin currentColor;
}
.background span:nth-child(26) {
    color: #ff0000;
    top: 92%;
    left: 47%;
    animation-duration: 78s;
    animation-delay: -8s;
    transform-origin: -14vw -14vh;
    box-shadow: -6vmin 0 1.4489717126445942vmin currentColor;
}
.background span:nth-child(27) {
    color: #00e1ff;
    top: 11%;
    left: 82%;
    animation-duration: 87s;
    animation-delay: -28s;
    transform-origin: 19vw 22vh;
    box-shadow: 6vmin 0 1.35300275151289vmin currentColor;
}
.background span:nth-child(28) {
    color: #d4ff00;
    top: 71%;
    left: 54%;
    animation-duration: 44s;
    animation-delay: -35s;
    transform-origin: 4vw 12vh;
    box-shadow: 6vmin 0 1.5630396570084326vmin currentColor;
}
.background span:nth-child(29) {
    color: #ff0000;
    top: 71%;
    left: 47%;
    animation-duration: 11s;
    animation-delay: -44s;
    transform-origin: 17vw 1vh;
    box-shadow: 6vmin 0 1.283497793077712vmin currentColor;
}
.background span:nth-child(30) {
    color: #00e1ff;
    top: 14%;
    left: 46%;
    animation-duration: 66s;
    animation-delay: -42s;
    transform-origin: -20vw -18vh;
    box-shadow: -6vmin 0 1.2203996708958091vmin currentColor;
}
.background span:nth-child(31) {
    color: #00e1ff;
    top: 90%;
    left: 13%;
    animation-duration: 89s;
    animation-delay: -14s;
    transform-origin: 4vw -2vh;
    box-shadow: 6vmin 0 1.5942048108286868vmin currentColor;
}
.background span:nth-child(32) {
    color: #d4ff00;
    top: 3%;
    left: 53%;
    animation-duration: 65s;
    animation-delay: -59s;
    transform-origin: -19vw 13vh;
    box-shadow: -6vmin 0 1.5418638502640465vmin currentColor;
}
.background span:nth-child(33) {
    color: #d4ff00;
    top: 10%;
    left: 41%;
    animation-duration: 10s;
    animation-delay: -31s;
    transform-origin: -19vw 23vh;
    box-shadow: -6vmin 0 1.023438772510998vmin currentColor;
}
.background span:nth-child(34) {
    color: #d4ff00;
    top: 8%;
    left: 17%;
    animation-duration: 56s;
    animation-delay: -61s;
    transform-origin: -10vw 17vh;
    box-shadow: 6vmin 0 1.4006998828267898vmin currentColor;
}
.background span:nth-child(35) {
    color: #ff0000;
    top: 64%;
    left: 14%;
    animation-duration: 28s;
    animation-delay: -81s;
    transform-origin: -12vw -2vh;
    box-shadow: -6vmin 0 1.4376522898696285vmin currentColor;
}
.background span:nth-child(36) {
    color: #d4ff00;
    top: 55%;
    left: 7%;
    animation-duration: 26s;
    animation-delay: -19s;
    transform-origin: 1vw -21vh;
    box-shadow: 6vmin 0 1.2390144972189256vmin currentColor;
}
.background span:nth-child(37) {
    color: #d4ff00;
    top: 98%;
    left: 91%;
    animation-duration: 91s;
    animation-delay: -32s;
    transform-origin: -13vw -18vh;
    box-shadow: 6vmin 0 1.5656474574653236vmin currentColor;
}
.background span:nth-child(38) {
    color: #d4ff00;
    top: 99%;
    left: 71%;
    animation-duration: 22s;
    animation-delay: -29s;
    transform-origin: -13vw -22vh;
    box-shadow: 6vmin 0 1.026786144460149vmin currentColor;
}
.background span:nth-child(39) {
    color: #00e1ff;
    top: 78%;
    left: 79%;
    animation-duration: 82s;
    animation-delay: -71s;
    transform-origin: -15vw -6vh;
    box-shadow: 6vmin 0 1.1514099889142937vmin currentColor;
}
.background span:nth-child(40) {
    color: #ff0000;
    top: 82%;
    left: 31%;
    animation-duration: 94s;
    animation-delay: -90s;
    transform-origin: 2vw -22vh;
    box-shadow: 6vmin 0 1.178393356268638vmin currentColor;
}
.background span:nth-child(41) {
    color: #00e1ff;
    top: 50%;
    left: 56%;
    animation-duration: 62s;
    animation-delay: -49s;
    transform-origin: -7vw 19vh;
    box-shadow: 6vmin 0 1.2431606004583569vmin currentColor;
}
.background span:nth-child(42) {
    color: #d4ff00;
    top: 53%;
    left: 56%;
    animation-duration: 74s;
    animation-delay: -11s;
    transform-origin: 11vw 20vh;
    box-shadow: -6vmin 0 1.7020293031728682vmin currentColor;
}
.background span:nth-child(43) {
    color: #ff0000;
    top: 54%;
    left: 4%;
    animation-duration: 33s;
    animation-delay: -53s;
    transform-origin: 3vw -3vh;
    box-shadow: -6vmin 0 1.269496131148312vmin currentColor;
}
.background span:nth-child(44) {
    color: #00e1ff;
    top: 34%;
    left: 68%;
    animation-duration: 64s;
    animation-delay: -42s;
    transform-origin: -3vw -2vh;
    box-shadow: -6vmin 0 1.280485822670554vmin currentColor;
}
.background span:nth-child(45) {
    color: #ff0000;
    top: 16%;
    left: 42%;
    animation-duration: 63s;
    animation-delay: -37s;
    transform-origin: 22vw -1vh;
    box-shadow: 6vmin 0 0.9434899874015332vmin currentColor;
}
.background span:nth-child(46) {
    color: #d4ff00;
    top: 68%;
    left: 44%;
    animation-duration: 12s;
    animation-delay: -41s;
    transform-origin: 19vw -12vh;
    box-shadow: -6vmin 0 1.4849890604501537vmin currentColor;
}
.background span:nth-child(47) {
    color: #00e1ff;
    top: 84%;
    left: 4%;
    animation-duration: 18s;
    animation-delay: -50s;
    transform-origin: -3vw -10vh;
    box-shadow: 6vmin 0 1.4634930579674037vmin currentColor;
}
.background span:nth-child(48) {
    color: #ff0000;
    top: 41%;
    left: 23%;
    animation-duration: 95s;
    animation-delay: -11s;
    transform-origin: -2vw 25vh;
    box-shadow: 6vmin 0 1.506145392746428vmin currentColor;
}
.background span:nth-child(49) {
    color: #d4ff00;
    top: 1%;
    left: 54%;
    animation-duration: 55s;
    animation-delay: -41s;
    transform-origin: 12vw -11vh;
    box-shadow: -6vmin 0 1.3429053319871973vmin currentColor;
}
